<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bästa Vädret i Liljeholmen</title>
</head>
<body>
<h1>Bästa vädret i Liljeholmen</h1>

<p th:text="${bestWeather.getTime().toString()}"></p>
<h3>Bästa vädret kommer ifrån <span th:text="${source}"></span></h3>
<p><strong>Temperatur: </strong><span th:text="${bestWeather.getTemperature()}" /> grader.</p>
<p><strong>Luftfuktighet: </strong><span th:text="${bestWeather.getHumidity()}" /> %. </p>
<br />

</body>
</html>